<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront.UI.MVC-20210902111812.mdf;Initial Catalog=aspnet-StoreFront.UI.MVC-20210902111812;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>